/* General */
body {
    width: 800px;
    margin: 0 auto;
    background-color: #c4c8e0;
}

/* Block styling */

div {
    border: 5px solid rgb(0, 0, 0);
    display: flex;
}


/* Typography */

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: url('phone_globe.jpg') no-repeat center;
    color: #000000;
}

/* Form styling */
h1, h2 {
    text-align: center;
}

/* Styling the products display */
.item img {
    width: 200px;
    height: 200px;
}
